* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

ul {
  list-style: none;
}

button {
  background: 0;
  border: 0;
}

main {
  margin: 32px auto;
  max-width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

canvas {
  visibility: hidden;
  position: absolute;
  z-index: -1;
  top: 0;
}

.canvas {
  width: 300px;
  height: 300px;
  position: relative;
  animation: float 2s ease-in-out infinite alternate-reverse;
}

.canvas--selection {
  animation: shake 0.4s ease;
}

.options {
  display: flex;
  align-items: center;
  padding: 32px;
  gap: 16px;
}

.options__list {
  display: flex;
  gap: 8px;
  max-width: 100%;
  flex-wrap: wrap;
}

.option {
  background-position: 100px 100px;
  width: 48px;
  height: 48px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.option__img {
  position: absolute;
}
.option::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  border-radius: 100%;
  top: 0;
  left: 0;
  transition: background ease 0.2s;
}

.option:hover::after {
  background: #ff00bc2e;
}

.layer {
  position: absolute;
  top: 0;
  left: 0;
}

.canvas-container {
  position: relative;
}

.canvas-shadow {
  height: 10px;
  width: 150px;
  background: transparent;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  animation: shadow-shrink 2s ease-in-out infinite alternate-reverse;
}

.button {
  font: inherit;
  color: inherit;
  cursor: pointer;
  transition: all ease 0.2s;
  padding: 8px 16px;
  border-radius: 6px;
  text-decoration: none;
}

.button:hover {
  background: #00ffd32e;
}

@keyframes float {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(20px);
  }
}

@keyframes shake {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(15deg);
  }
  75% {
    transform: rotate(0);
  }
}

@keyframes shadow-shrink {
  from {
    box-shadow: 2px 320px 28px 4px #00000047;
  }

  to {
    box-shadow: 2px 320px 28px 11px #00000047;
  }
}
