* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

main {
  margin: 32px auto;
  max-width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.canvas {
  width: 300px;
  height: 300px;
  position: relative;
}

.options {
  display: flex;
  align-items: center;
  padding: 16px;
}

.options__list {
  display: flex;
}

.layer {
  position: absolute;
  top: 0;
  left: 0;
}
